@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 2rem;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #a13b0f;
  cursor: default;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #a13b0f;
  padding: 0 250px;
  background: #a13b0f;
  box-shadow: 1px 1px 5px #8f330cb9;
  position: fixed;
  z-index: 111;
}

header > h1 a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffffff;
  transition: all .3s;
}

header > h1 a:hover {
  color: #3a1100;
}

header ul {
  display: flex;
  gap: 1.5rem;
}

header ul li a {
  color: #ffffff;
  transition: all .3s;
}

header ul li a:hover {
  color: #3a1100;
}

header ul#ul-header .icon-sidebar {
  display: none;
}

#container-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 250px;
  gap: 50px;
}

#container-home .titles p {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 3.75rem;
}

#container-home .titles span {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 10px;
}

#container-home .titles h2 {
  font-weight: 400;
}

#container-home .titles #button-contato {
  font-size: 1rem;
  color: white;
  margin: 10px 0;
  padding: 15px;
  background: #c55f1b;
  border-radius: 15px;
  border: none;
  transition: all .3s;
}

#container-home .titles #button-contato:hover {
  background: #c55408;
  cursor: pointer;
}

#container-home .profile img {
  width: 300px;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 6px;
  transition: all .3s;
}

#container-home .profile ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 0 0 5px 5px;
  background: #c55f1b;
}

#container-home .profile ul > li > a > svg {
  width: 35px;
  display: flex;
  fill: #5a1b00;
  transition: all .3s;
}

#container-home .profile ul > li > a > svg:hover {
  fill: #3a1100;
  transform: scale(1.1);
}

#about {
  padding: 0 150px 20px 150px;
  background: #d16e2c;
}

#about #sobre-mim {
  width: 80%;
  margin-bottom: 50px;
  padding-top: 20px;
  text-align: justify;
}

#about #sobre-mim h2 {
  padding: 50px 0 50px 0;
}

#about #sobre-mim p {
  text-align: justify;
  line-height: 30px;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 150px 70px 150px;
}

#services h2 {
  text-align: center;
  margin: 70px 0 50px 0;
}

#services #services-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services #services-cards .cards-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services #services-cards .cards-services .card-service {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  padding: 5px 15px;
  background: #d16e2c;
  border-radius: 8px;
}

#services #services-cards .cards-services .card-service svg {
  width: 65px;
  height: 65px;
  display: flex;
  margin: 25px auto;
}

#services #services-cards .cards-services .card-service h3 {
  text-align: center;
  padding: 15px;
}

#services #services-cards .cards-services .card-service img {
  width: 150px;
}

#services #services-cards .cards-services .card-service p {
  text-align: justify;
  line-height: 25px;
  padding: 5px 0 15px 0;
}

#services #services-cards .cards-services .card-service button {
  font-size: 1rem;
  color: white;
  margin: 10px auto;
  border-radius: 15px;
  border: none;
  background: #a14507;
  transition: all .3s;
}

#services #services-cards .cards-services .card-service button:hover {
  background: #c55408;
  cursor: pointer;
}

#services #services-cards .cards-services .card-service a {
  display: block;
  padding: 15px 50px;;
}

#projects {
  padding: 50px 150px;
  background: #d16e2c;
}

#projects h2 {
  text-align: center;
  padding: 25px 0 50px 0;
}

#projects #cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects #cards-projects .card-project {
  width: 250px;
  height: 370px;
  margin: 10px;
  background: #a13b0f;
  border-radius: 12px 12px 8px 8px;
}

#projects #cards-projects .card-project img {
  width: 96%;
  margin: 5px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

#projects #cards-projects .card-project h3 {
  padding: 15px 20px 5px 20px;
}

#projects #cards-projects .card-project p {
  font-size: 14px;
  padding: 5px 20px 10px 20px;
}

#projects #cards-projects .card-project button {
  font-size: 1rem;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  background: #d16e2c;
  transition: all .3s;
}

#projects #cards-projects .card-project button:hover {
  background: #c55408;
  cursor: pointer;
}

#projects #cards-projects .card-project .buttons {
  display: flex;
  justify-content: space-evenly;
}

#tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 150px;
}

#tech h2 {
  text-align: center;
  margin: 0px 0 50px 0;
}

#tech #cards-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tech #cards-techs .card-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
  background: #d16e2c;
}

#tech #cards-techs .card-tech svg {
  width: 100px;
  height: 100px;
  fill: #612308;
}

#tech #cards-techs .card-tech h3 {
  margin: 25px 0 0 0;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
  background: #d16e2c;
}

#contact #container-contact h2 {
  margin: 50px 0;
  text-align: center;
}

#contact #container-contact ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

#contact #container-contact ul li svg {
  width: 50px;
  height: 50px;
  margin: 15px;
  stroke: #a13b0f;
  transition: all .3s;
}

#contact #container-contact ul li svg:hover {
  stroke: #882d06;
  fill: #a13b0f50;
}

footer {
  padding: 15px 150px;
  background: #a13b0f;
}

footer p {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #ec853f;
}

footer p a {
  transition: all .3s;
}

footer p a:hover {
  color: #3a1100;
}

@media (max-width: 1250px) {
  #container-home {
    padding: 0 150px;
  }

  #about {
    padding: 0 100px 20px 100px;
  }
}

@media (max-width: 1050px) {
  header {
    padding: 0 100px;
  }

  #container-home {
    padding: 0 100px;
  }
}

@media (max-width: 950px) {
  #container-home .titles p  {
    letter-spacing: 0;
  }

  #container-home .profile img {
    width: 250px;
  }
}

@media (max-width: 875px) {
  #container-home {
    padding: 0 100px;
  }

  #container-home .titles p  {
    font-size: 3rem;
    line-height: 3rem;
  }

  #container-home .titles span {
    font-size: 1.5rem;
    line-height: 15px;
  }

  #container-home .titles h2 {
    font-size: 20px;
  }

  #about #sobre-mim {
    width: 100%;
  }
}

@media (max-width: 785px) {
  header {
    padding: 0 70px;
  }

  #container-home {
    flex-direction: column;
    text-align: center;
    padding: 50px 50px;
  }
  
  #container-home .titles {
    padding: 70px 0 0 0;
  }

  #container-home .profile img {
    padding-top: 0px;
    width: 200px;
  }

  #container-home .titles #button-contato {
    margin: 10px 0 0 0;
  }

  #contact {
    padding: 50px 50px;
  }

  footer {
    padding: 15px 50px;
  }
}

@media (max-width: 675px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }

  header h1 {
    margin: auto 0;
  }

  header ul {
    display: none;
  }

  header ul#ul-header.ul-clicked {
    width: 45vw;
    height: 100vh;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    position: fixed;
    left: 0px;
    opacity: 1;
    padding: 20px;
    background: #d16e2c;
    z-index: 99;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
  }

  header ul li {
    font-size: 25px;
  }

  header ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li a svg {
    margin-right: 5px;
  }

  #sidebar {
    position: fixed;
    top: 24px;
    left: 40px;
    z-index: 100;
    cursor: pointer;
  }

  .icon-sidebar {
    display: inherit;
  }

  .sidebar {
    width: 35px;
    height: 8px;
    margin: 3px 15px;
    background: #3a1100;
    border-radius: 2px;
  }

  #container-home .titles {
    padding: 10px 0 0 0;
  }

  #container-home {
    padding: 70px 50px;
    height: 100vh;
  }

  #about {
    padding: 0 90px 20px 80px;
  }
}

@media (max-width: 560px) {
  #container-home {
    padding: 90px 50px;
  }

  #projects {
    padding: 50px 50px;
    background: #d16e2c;
  }

  #tech {
    padding: 50px;
  }
}

@media (max-width: 425px) {
  header ul#ul-header.ul-clicked {
    width: 55vw;
  }
}

@media (max-width: 375px) {
  header ul#ul-header.ul-clicked {
    width: 70vw;
  }

  #about {
    padding: 0 50px 20px 50px;
  }

  #services {
    padding: 0 5px 70px 5px;
  }

  #projects {
    padding: 5px 5px;
  }

  #tech {
    padding: 50px;
  }

  #tech h2 {
    margin: 0 0 50px 0;
  }
}